<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <style>
      .error404 {
        background-color: #f5f5f5;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .error404 img {
        width: 40%;
      }

      .error404 h2 {
        font-size: 6rem;
      }
      .error404 h3 {
        font-size: 2.25rem;
        margin-bottom: 2rem;
      }

      .error404-first {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        /* color: #ffff; */
      }

      .error404-second {
        font-size: 1rem;
        width: fit-content;
        padding: 1em 2em;
        /* border: 1px solid black; */
        background-color: var(--primary-color);
        color: #333;
      }
      .container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
      }
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .flex-center {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;
      }
    </style>

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->

    <!-- ----------------- 404 Page Section ---------------------- -->
    <section class="container error404 flex flex-centers">
      <img src="/img/she_with_phone.png" alt="" />

      <div>
        <h2>404</h2>
        <h3>Page Not Found</h3>
        <p class="error404-first">Looks like this page went on vacation.</p>
        <a href="\" class="error404-second">Back to Home</a>
      </div>
    </section>

    <!-- ----------------- Footer Section ---------------------- -->
  </body>
</html>
